
<div class="text">
    Overview
London is the infinite city! The most incredibly irresistible city in the world always awaits you with a thousand and one plans: lose track of time in museums, go shopping on Oxford Street, see the changing of the guard at Buckingham Palace, get on the Ferris wheel of the London Eye, taste the best street food in the world in the Borough Market,  Find treasures at any Sunday market... and in autumn, with the spectacle of nature staining every corner of the streets and urban parks with ochre, London is even more irresistible! 
In autumn, magic and mystery surround London thanks to the celebration of Halloween. Be sure to visit places such as the Tower of London, Hampton Court Palace or Kensington Palace, which usually organize activities and events related to the party. Or take a stroll through the city's cemeteries, which are dressed for the occasion with the celebration of the London Month of The Death festival. 
Surely you know that London is the most cosmopolitan city in the world. Stop by Trafalgar Square on November 3rd and see for yourself celebrating Diwali! Join hundreds of thousands of others and celebrate the festival of lights of Hindus, Sikhs and Jains. And until the end of October, the sunsets of Kew Gardens are very special thanks to the talent of the famous sculptor Dale Chihuly. 33 of its famous works of art sculpted in glass are located in the park, and when the sun goes down, they are illuminated creating spectacular plays of light while live music plays and you take a prosecco or an ice cream from any of the stands. 

</div>
<div class="img">
    <img mat-card-image srcset="./assets/imagenes_examen/faro-trinity.jpg" alt="faro-trinity">
</div>

<div class="text">
    History
    London, the capital of the United Kingdom, is a city steeped in history and culture dating back thousands of years. Its origin dates back to Roman times, when it was founded as "Londinium" in 43 AD by the troops of Emperor Claudius. Over the centuries, London has experienced significant growth and development, becoming one of the most influential cities in the world. 
    During the Middle Ages, London became the political and economic center of England. The Tower of London, an iconic fortress built in the eleventh century, witnessed several historical events, including the executions of notable figures such as Anne Boleyn and Sir Thomas More. The city was also the scene of important events such as the Magna Carta, which was sealed at Runnymede in 1215 but had a significant impact on the political development of England and later the United Kingdom. 
    During the sixteenth and seventeenth centuries, London experienced a period of cultural expansion and flourishing known as the English Renaissance. During this time, the town became the centre of Elizabethan theatre, hosting the famous Shakespeare theatres in the Southwark district. St. Paul's Cathedral, one of London's most recognizable symbols, was built during this period and became an important landmark. 
    
    In the seventeenth century, London was rocked by historical events such as the Great Plague of 1665 and the Great Fire of 1666. The plague quickly spread throughout the city, killing thousands, while the fire destroyed much of the medieval city. However, London was quickly rebuilt and new neighborhoods and iconic buildings emerged, such as Buckingham Palace. 
During the eighteenth century, London became the center of the British Empire and experienced an industrial revolution. Large amounts of wealth and trade flowed into the city, and magnificent public buildings were constructed, such as the British Museum and the National Gallery. Large parks, such as Hyde Park, were also established for the enjoyment of citizens. 
In the nineteenth century, London continued to grow and expand, and became the first city in the world to reach a population of one million. The industrial revolution continued to drive its development, and iconic structures such as Big Ben and the Palace of Westminster were built. The London Underground, the world's first underground transport system , opened in 1863 and remains a vital part of the city's infrastructure. 
During the twentieth century, London faced challenges such as the two world wars and post-bombing reconstruction. During World War II, the city suffered severe damage due to air raids, but recovered quickly in the post-war period. The city became a global financial center and a place of great cultural diversity, with immigrants from all over the world settling on its streets. 
In more recent times, London has hosted major events, such as the 2012 Olympics, which left a lasting legacy in the city. Modern architecture, such as the Shard and the  London Eye, has changed the city's skyline, while historic landmarks such as Buckingham Palace and Westminster Abbey continue to attract millions of visitors each year. 
Today, London remains a vibrant and dynamic city, with a rich history and global influence in areas such as politics, economics, art and fashion. It's a place where old and new intertwine, and where you can explore centuries of history in every corner. 
</div>

<div class="img">
    <img mat-card-image srcset="./assets/imagenes_examen/big-ben.jpg" alt="big-ben">
</div>

<div class="text">
    Why visit London?
There are many reasons why you should visit London. Here are a few: 
History and culture
London is a city with a rich and fascinating history spanning more than two millennia. From the ancient Romans to the British monarchy and the Victorian era, the city is full of historic sites, such as the Tower of London, Buckingham Palace, Westminster Abbey and the British Museum. In addition, the city has a vibrant cultural scene, with a wide variety of museums, art galleries, theaters and festivals. 
Iconic monuments
London is known for its iconic monuments, such as Big Ben, the London Eye, Tower Bridge and the Palace of Westminster. These iconic places offer breathtaking views and are globally recognizable symbols. 
Diversity and multiculturalism
London is one of the most diverse cities in the world, with a wide range of cultures, languages and traditions. This is reflected in the variety of cuisine, shops and festivals you can find in the city. Exploring London's multicultural neighbourhoods, such as Chinatown, Little India and Brick Lane, is an enriching experience. 
Parks and green spaces
Despite being a bustling metropolis, London has numerous parks and green spaces where you can relax and enjoy nature. Hyde Park, Regent's Park,  Richmond Park and Kensington Gardens are just some of the city's most popular green spaces, ideal for strolling, picnicking or outdoor sports. 
Shopping and gastronomy
London is a shopper's paradise, with a wide range of shops, from luxury department stores on Oxford Street to independent boutiques in Covent Garden. In addition, the city offers a wide variety of dining options, from internationally renowned restaurants to ethnic street food stalls. 
Events & Entertainment
London is known for its lively entertainment scene. The city hosts numerous events and festivals throughout the year, from extravagant parades such as St. Patrick's Day and Notting Hill Carnival, to concerts, theatrical shows and world-class sporting events. 
These are just some of the reasons why you should visit London. The city has something for everyone, whether you're interested in history, culture, gastronomy, shopping or just want to immerse yourself in the bustle of a cosmopolitan metropolis. London is a city that never ceases to surprise and captivate its visitors. 

</div>
<div class="img">
    <img mat-card-image srcset="./assets/imagenes_examen/columna-nelson.jpg" alt="columna-nelson">
</div>
