<h2>Cambio euro a libra</h2>

<form class="example-form">
    <div class="flex-container">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="" value="">
          </mat-form-field>
        
       
          <mat-form-field class="example-full-width">
              <input matInput placeholder="" value="">
            </mat-form-field>
    </div>
  
  </form>

  <h2>Cambio libra a euro</h2>
  
  <form>
  <div class="flex-container">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="" value="">
      </mat-form-field>
    
   
      <mat-form-field class="example-full-width">
          <input matInput placeholder="" value="">
        </mat-form-field>
</div>
  </form>
